### Python for Data research curriculum

Part one:
    
- Data types
- variables
- conditionals
- list and arrays
- indexing and slicing
- strings and array methods
- loops (Forloops and while loops)
- functions
- Dictionaries
- classes and objects

Part two:
- Pandas and numpys
- time, date and math libraries
- visualization(seaborn and matplotlib)

Part three (Python for data science):
- Data loading
- Data cleaning and data wrangling
- Answering business intelligence questions with python
- correlation analysis, univariate and bi-variate analysis
- Feature engineering
- introduction to predictive modelling (Linear and ploynomial regression, logistictic regression and Time series)
- machine learning concepts (supervised and unsupervised learning)

Part Four(Frame works and apis):
- Python Flask
- Rest and Fast Api
- integrating Postgresql(sql automation) in python
- extraction transformation and loading(ETL processes with python)

Job descriptions after the learning

- Data scientist, analyst, 
- back end engineer, 
- analytics engineer, 
- business intelligence engineer, 
- data engineer and machine leraning engineer

### Lets code

-strings, numeric data type(integers, floats), booleans(True/False)

In [4]:
print("Hello class!")

Hello class!

In [3]:
print(type("hello class!"))

<class 'str'>

In [5]:
print("my name is jake and i am 5 years old!")

my name is jake and i am 5 years old!

In [35]:
print("10" + "51")

1051

In [10]:
print(10.9 + 3)

13.9

In [12]:
print(5==5)

True

In [14]:
print(10==(2*5))

True

In [17]:
print(type("true"))

<class 'str'>

In [18]:
print(type(True))

<class 'bool'>

In [21]:
print(type(10.01))

<class 'float'>

In [34]:
name = input("enter name: ")
age = input("enter age: ")
print(f"My name is, {name} and i am {age} years old!")

enter name: john
enter age: 19
My name is, john and i am 19 years old!

In [33]:
a = 10
b = 25
##pythagoras theorem
c = ((a**2) + (b**2))**(1/2)
print(round(c, 3))

26.926

In [25]:
print(4**(1/3))

1.5874010519681994

In [37]:
name = input("enter name: ")
yb = float(input("enter year of birth: "))
print(f"my name is {name} and i am {2023-yb} years old")

enter name: john
enter year of birth: 1997
my name is john and i am 26.0 years old

### Conditionals

In [7]:
temp = float(input("enter tempearture value: "))

if temp > 20:
    print("tempertaure is high")
elif temp >=10 and temp <= 19:
    print("temperature is moderate")
elif temp >=1 and temp <=9:
    print("temperature is quite low")
elif temp <= 0:
    print("extremeley deadly temperature")
else:
    print("input not understood")

enter tempearture value: 10
temperature is moderate

In [9]:
age = int(input("enter age: "))
sex = input("enter sex: ").lower()

if age >= 20:
    if sex == "f":
        print("an adult female")
    elif sex == "m":
        print("an adult male")
        
elif age >= 13 and age <= 19:
    if sex == "f":
        print("a teenage female")
    elif sex == "m":
        print("a teenage male")
        
elif age <= 12:
    if sex == "f":
        print("a child female")
    elif sex == "m":
        print("a child male")
        
else:
    print("No input available")

enter age: 14
enter sex: f
a teenage female

###### Temperature conversion program

In [23]:
temp_value = float(input("enter temperature value here: "))
unit = input("enter unit->f/c: ").lower()

if unit == "f":
    temp = (temp_value - 32) * (5/9)
    if temp <= 100:
        kel = 273 + temp
        print(f"the temperature value of {temp_value} fahrenhiet is {round(kel, 3)} kelvin")
    else:
        print(f"the temperature value of {temp_value} fahrenhiet is {round(temp, 3)} celcuis")
        
elif unit == "c":
    temp = (temp_value * (9/5)) + 32
    print(f"the temperature value of {temp_value} celcius is {round(temp, 3)} fahrenheit")
else:
    print("input not understood")

enter temperature value here: 47
enter unit->f/c: c
the temperature value of 47.0 celcius is 116.6 fahrenheit

In [ ]:
###BMI --> BODY MASS INDEX
###range of value that constitutes high, low and average

In [ ]:
###bmi ==> weight/height**2

In [8]:
weight = float(input("enter weight value: "))
height = float(input("enter height value: "))
unit_weight = input("enter unit for weight: ").lower()
unit_height = input("enter unit for height: ").lower()
bmi = (weight/10)/(height**2)

if unit_weight == "n" and unit_height == "m":
    if bmi >=25:
        print(f"my bmi is {bmi} and it is high!")
    elif bmi >=18 and bmi<= 24.9:
        print(f"my bmis is {bmi} and itis average")
    else:
        print(f"this is my bmi value = {bmi} and it is low")


else:
    print("Unit not defined in the program!")
        
# if unit_weight == "p" and unit_height == "ft":
#     if bmi >=29:
#         print("your bmi is high")
#     elif bmi >=15 and bmi<= 28:
#         print("your bmi is average")
#     else:
#         print(f"this is my bmi value = {bmi} and it is low")

enter weight value(N): 789
enter height value(m): 15
enter unit for weight: p
enter unit for height: ft
Unit not defined in the program!

In [24]:
weight = float(input("enter weight value (kg): "))
height = float(input("enter height value(m): "))
unit_weight = input("enter unit for weight: ").lower()
unit_height = input("enter unit for height: ").lower()
##bmi = (weight/10)/(height**2)

if unit_weight == "n" and unit_height == "m":
    bmi = (weight*10)/(height**2)
    if bmi >=25:
        print(f"my bmi is {bmi} and it is high!")
    elif bmi >=18 and bmi<= 24.9:
        print(f"my bmis is {bmi} and itis average")
    else:
        print(f"this is my bmi value = {bmi} and it is low")
    
##Convert     
elif unit_weight == "p" and unit_height == "ft":
    bmi = (weight * 2.2046) / ((height*3.28084)**2)
    print(f"{bmi}")
    
else:
    print("Unit not defined in the program!")

enter weight value (kg): 67
enter height value(m): 56
enter unit for weight: p
enter unit for height: ft
0.004375809928152242

### List and Arrays

In [43]:
#x = True
b = ["ada", "tobi", 25, True, False, "james", "pedro"]

In [49]:
len(b[5])

5

In [61]:
b[2:]

[25, True, False, 'james', 'pedro']

In [42]:
##print(len(x))

In [29]:
print(type(b))

<class 'list'>

In [35]:
index_values = b.index("james")
index_values

5

In [64]:
print(b)

['ada', 'tobi', 25, True, False, 'james', 'pedro']

In [63]:
# pos = b.index(25)
# after = b[pos+1:]
# print(after)

[True, False, 'james', 'pedro']

In [59]:
pos = b.index(25)
print(pos)
# after = b[pos+1:]
# print(after)

2

In [62]:
after = b[pos+1:]
print(after)

[True, False, 'james', 'pedro']

In [ ]:
##before

In [57]:
before =  b[:pos]
print(before)

['ada', 'tobi']

####Class work

1. if the age to to vote is from 18 and above
2. and the condition to vote requuires a PVC

Write a program that asks users for their and if they have pvc
if they do, grant them access to vote
if they dont do not grant them access to vote

In [7]:
age = int(input("enter age: "))
pvc = input("do you have a pvc?: ")
voter = input("where is voter from?: ")

if age >= 18 and pvc == "yes":
    if voter == "south-south" or voter == "east":
        print("vote obi")
    elif voter == "north" or voter == "south-west":
        print("vote asiwaju!!!")
    else:
        print("vote atiku")
    
elif age < 18 and pvc == "no":
    print("access denied to vote")
else:
    print("access denied to vote!!!")

enter age: 22
do you have a pvc?: yes
where is voter from?: south-west
vote asiwaju!!!

if the person is qualified to vote
- if the preson is from south south, East they should Obi
- if the person is from north, south west vote asiwaju
- vote atiku

- if change in temperature of a house defines the "livability" of a house
define t1 as input
define t2 as input
calculate the temperature change

- if the temp is less than 0 celcius
define kelvin by adding temperature + 273
if tempure is greater than 500 kelvin say tempearure is extremely low
if tempearure is less than 500 kelvein say tempearure is moderatatley low


- if the temp is greater than 0 celcius, say temperature too high

In [16]:
t1 = float(input("enter t1: "))
t2 = float(input("enter t2: "))
temp = t2-t1

if temp < 0:
    kelvin = temp + 273
    if kelvin > 500:
        print(f"{kelvin}kelvin: temperature is extremely low")
    elif kelvin < 500:
        print(f"{kelvin}kelvin: temperature is moderrately low")
        
elif temp > 0:
    print(f"{temp}celcuis: temperature is too high")
    
else:
    print("inputs not understood!!!")

enter t1: 14
enter t2: 25
11.0celcuis: temperature is too high

In [ ]:
###Arrays
- sort()
- append()

In [24]:
a = [1, 5, 10, 3]
a.sort()
print(a)

[1, 3, 5, 10]

In [25]:
b = [6, 9, 10, 11]

In [26]:
c = a + b
print(c)

[1, 3, 5, 10, 6, 9, 10, 11]

In [27]:
c.append(True)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True]

In [28]:
k = [5, 10, 11]
c.append(k)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True, [5, 10, 11]]

In [29]:
####forloops
arr = [2, 4, 7, 9, 3, 1]
for i in arr:
    print(i)

2
4
7
9
3
1

In [31]:
for i in arr:
    if i%2 != 0:
        print(i)

7
9
3
1

In [33]:
arr1 = []
arr2 = []
for i in arr:
    if i%2 != 0:
        arr1.append(i)
    if i%2 == 0:
        arr2.append(i)
print(arr2)

[2, 4]

In [15]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]

for i in a:
    print(i)

True
False
10
15.5
21
janeth
tobi
9
True

In [7]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]

for i in a:
    if type(i) == float:
        print(i)

15.5

In [9]:
print(i)

True

In [11]:
p = []
for i in a:
    if type(i) == bool:
        p.append(i)
        
print(p)

[True, False, True]

In [12]:
print(p)

[True, False, True]

In [18]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i < 10:
        arr.append(i)
print(arr)

[8, 5, 7, 3]

In [20]:
odd_numb = []
even_numb = []

for i in numb:
    if i%2 == 0:
        even_numb.append(i)
    elif i%2 != 0:
        odd_numb.append(i)
        
print(odd_numb)
print(even_numb)

[11, 5, 7, 3]
[10, 16, 8, 12, 20]

In [14]:
# t = (10, 15, 10)
# d = {"name": "john", "age":30}
# print(d)

In [24]:
print(5%4 == 0)

False

In [25]:
print(10%3 == 1)

True

In [26]:
print(11%5 == 0)

False

In [32]:
arrYs = [10, 20, 11, 8, 10, 6, 1]
print(arrYs)

[10, 20, 11, 8, 10, 6, 1]

In [43]:
for i in arrYs:
    if i == 10:
        print(i)

10
10

In [40]:
for i in enumerate(arrYs):
    print(i)

(0, 10)
(1, 20)
(2, 11)
(3, 8)
(4, 10)
(5, 6)
(6, 1)

In [37]:
for i, b in enumerate(arrYs):
    print(i, b)

0 10
1 20
2 11
3 8
4 10
5 6
6 1

In [42]:
for i, b in enumerate(arrYs):
    if b == 10:
        print(i)

0
4

In [45]:
for i in arrYs:
    if i == 10:
        print(arrYs.index(i))

0
0

In [47]:
####test
z = [10, 10, 11, 2]
z.index(10)

0

In [53]:
z = [10, 10, 11, 2]
for i in z:
    if i == 10:
        #print(i)
        print(z.index(10))

0
0

In [51]:
for i, b in enumerate(z):
    print(i, b)

0 10
1 10
2 11
3 2

In [50]:
for i, b in enumerate(z):
    if b == 10:
        print(i)

0
1

In [58]:
k = [5, 1, 5, 10, 11, 9, 5, 1]

index_vals = []
for i, b in enumerate(k):
    if b == 5:
        index_vals.append(i)
print(index_vals)

[0, 2, 6]

In [67]:
index_vals[2]

6

In [68]:
k[index_vals[1]+1:index_vals[2]]

[10, 11, 9]

In [ ]:
#print(k[])

###asignment

1. lists = [11, 10, 8, 12, 1, 5, 6, 8, 10, 1, 8, 22, 7, 4]
get the index values of 8
2. get all the values after the second index value 8

get all the food that starts with a and store inside an array
foods = ["apple", "guava", "garri", "beans", "accra", "acute-bons"]