### Python for Data research curriculum

Part one:
    
- Data types
- variables
- list and arrays
- indexing and slicing
- conditionals
- strings and array methods
- loops (Forloops and while loops)
- functions
- Dictionaries
- classes and objects

Part two:
- Pandas and numpys
- time, date and math libraries
- visualization(seaborn and matplotlib)

Part three (Python for data science):
- Data loading
- Data cleaning and data wrangling
- Answering business intelligence questions with python
- correlation analysis, univariate and bi-variate analysis
- Feature engineering
- introduction to predictive modelling (Linear and ploynomial regression, logistictic regression and Time series)
- machine learning concepts (supervised and unsupervised learning)

Part Four(Frame works and apis):
- Python Flask
- Rest and Fast Api
- integrating Postgresql(sql automation) in python
- extraction transformation and loading(ETL processes with python)

Job descriptions after the learning

- Data scientist, analyst, 
- back end engineer, 
- analytics engineer, 
- business intelligence engineer, 
- data engineer and machine leraning engineer

### Lets code

-strings, numeric data type(integers, floats), booleans(True/False)

In [4]:
print("Hello class!")

Hello class!

In [3]:
print(type("hello class!"))

<class 'str'>

In [5]:
print("my name is jake and i am 5 years old!")

my name is jake and i am 5 years old!

In [35]:
print("10" + "51")

1051

In [10]:
print(10.9 + 3)

13.9

In [12]:
print(5==5)

True

In [14]:
print(10==(2*5))

True

In [17]:
print(type("true"))

<class 'str'>

In [18]:
print(type(True))

<class 'bool'>

In [21]:
print(type(10.01))

<class 'float'>

In [34]:
name = input("enter name: ")
age = input("enter age: ")
print(f"My name is, {name} and i am {age} years old!")

enter name: john
enter age: 19
My name is, john and i am 19 years old!

In [33]:
a = 10
b = 25
##pythagoras theorem
c = ((a**2) + (b**2))**(1/2)
print(round(c, 3))

26.926

In [25]:
print(4**(1/3))

1.5874010519681994

In [37]:
name = input("enter name: ")
yb = float(input("enter year of birth: "))
print(f"my name is {name} and i am {2023-yb} years old")

enter name: john
enter year of birth: 1997
my name is john and i am 26.0 years old